In [2]:
import pandas as pd
import numpy as np

import datetime as dt

### Анонс

In [3]:
# import holidays - вернуть

# Работа с объектами

## Как генерить объекты типа datetime

### Объект date

In [4]:
year = 2021
month = 10
day = 10

date = dt.date(year, month, day)
date

datetime.date(2021, 10, 10)

In [5]:
# Получить текущую дату

today = date.today()
today

datetime.date(2022, 5, 18)

### Объект time

In [6]:
hours = 17
minutes = 45
seconds = 13

time = dt.time(hours, minutes, seconds)
time

datetime.time(17, 45, 13)

### Объект datetime

In [7]:
date_time = dt.datetime.combine(date, time)
date_time

datetime.datetime(2021, 10, 10, 17, 45, 13)

In [8]:
# Вывести datetime-объект в расширенном виде
date_time.ctime()

'Sun Oct 10 17:45:13 2021'

In [9]:
# Или так
dt.datetime(2021, 10, 10, 17, 45, 13)

datetime.datetime(2021, 10, 10, 17, 45, 13)

## str - datetime

## datetime - str

### Варианты форматов

| format                   | datetime_str             | datetime                 |
| ------------------------ | ------------------------ | ------------------------ |
| "%d/%m/%Y %H:%M:%S"      | '13/9/2021 19:45:13'     | 2021-09-13 19:45:13      |
| "%Y-W%W-%w"              | '2021-W34-1'             | 2021-08-23 00:00:00      |

### Дата и время

In [10]:
month = 9
day = 13
year = 2021

hour = 19
minute = 33
second = 12

datetime_str = f"{day}/{month}/{year} {hour}:{minutes}:{seconds}"

datetime = dt.datetime.strptime(datetime_str, "%d/%m/%Y %H:%M:%S")
print(f"""
datetime_str: {datetime_str}
datetime: {datetime}
""")

datetime_str: 13/9/2021 19:45:13
datetime: 2021-09-13 19:45:13

### Только дата, в странном формате

In [11]:
number = 34
day = 1 # 1 - monday, 0 - saturday

datetime_str = f"2021-W{number}-{day}"
datetime = dt.datetime.strptime(datetime_str, "%Y-W%W-%w")
print(f"""
datetime_str: {datetime_str}
datetime: {datetime}
""")

datetime_str: 2021-W34-1
datetime: 2021-08-23 00:00:00

### Только время

## datetime - timestamp, timestamp - datetime

In [12]:
datetime = dt.datetime(2021, 10, 17, 0, 3, 5)
print(datetime)

2021-10-17 00:03:05

In [13]:
timestamp = datetime.timestamp()
print(timestamp)

1634403785.0

In [14]:
fromtimestamp = dt.datetime.fromtimestamp(timestamp)
print(fromtimestamp)

2021-10-17 00:03:05

In [15]:
utcfromtimestamp = dt.datetime.utcfromtimestamp(timestamp)
print(utcfromtimestamp)

2021-10-16 17:03:05

## timedelta

https://medium.com/geekculture/timestamps-and-date-ranges-in-depth-work-with-special-date-and-time-objects-in-pandas-692ae6ff02d0

In [16]:
date_1 = dt.date(2021, 2, 15)
date_2 = dt.date(2021, 3, 12)

print(date_2 - date_1)
print(date_1 - date_2)
print((date_2 - date_1).days)
print((date_1 - date_2).days)
date_2 - date_1

25 days, 0:00:00
-25 days, 0:00:00
25
-25

datetime.timedelta(days=25)

In [17]:
(date_2 - date_1).days

25

In [18]:
(date_2 - date_1).total_seconds()

2160000.0

In [19]:
mydelta = dt.timedelta(days=6, hours=4)
mydelta

datetime.timedelta(days=6, seconds=14400)

In [20]:
today = dt.datetime.today()

two_weeks_from_now = today + dt.timedelta(weeks=2)
two_weeks_from_now

datetime.datetime(2022, 6, 1, 10, 46, 3, 879798)

In [21]:
dt.timedelta(days=1, seconds=1) - dt.timedelta(days=1, seconds=0)

datetime.timedelta(seconds=1)

In [22]:
dt.timedelta(weeks=1) / dt.timedelta(days=1)

7.0

In [23]:
series = pd.Series(pd.date_range(start = "2021-01-01", end="2021-01-05", periods=5))
series + pd.Timedelta("1 days")

0   2021-01-02
1   2021-01-03
2   2021-01-04
3   2021-01-05
4   2021-01-06
dtype: datetime64[ns]

In [24]:
"""
dates = []
for date in (self._date_from + datetime.timedelta(n) for n in range(self._n_days)):
    date_path = date.strftime('%Y/%m/%d')
    dates.append(date_path)
    self._date_to = date
self._date_from = self._date_from.strftime('%Y.%m.%d')
self._date_to = self._date_to.strftime('%Y.%m.%d')

"""

"\ndates = []\nfor date in (self._date_from + datetime.timedelta(n) for n in range(self._n_days)):\n    date_path = date.strftime('%Y/%m/%d')\n    dates.append(date_path)\n    self._date_to = date\nself._date_from = self._date_from.strftime('%Y.%m.%d')\nself._date_to = self._date_to.strftime('%Y.%m.%d')\n\n"

# Полезные конструкции

### Получить список дат

In [25]:
start = '01-09-2021'
end = '30-09-2021'

[str(timestamp.date()) for timestamp in pd.date_range(start=start, end=end)]

['2021-01-09',
 '2021-01-10',
 '2021-01-11',
 '2021-01-12',
 '2021-01-13',
 '2021-01-14',
 '2021-01-15',
 '2021-01-16',
 '2021-01-17',
 '2021-01-18',
 '2021-01-19',
 '2021-01-20',
 '2021-01-21',
 '2021-01-22',
 '2021-01-23',
 '2021-01-24',
 '2021-01-25',
 '2021-01-26',
 '2021-01-27',
 '2021-01-28',
 '2021-01-29',
 '2021-01-30',
 '2021-01-31',
 '2021-02-01',
 '2021-02-02',
 '2021-02-03',
 '2021-02-04',
 '2021-02-05',
 '2021-02-06',
 '2021-02-07',
 '2021-02-08',
 '2021-02-09',
 '2021-02-10',
 '2021-02-11',
 '2021-02-12',
 '2021-02-13',
 '2021-02-14',
 '2021-02-15',
 '2021-02-16',
 '2021-02-17',
 '2021-02-18',
 '2021-02-19',
 '2021-02-20',
 '2021-02-21',
 '2021-02-22',
 '2021-02-23',
 '2021-02-24',
 '2021-02-25',
 '2021-02-26',
 '2021-02-27',
 '2021-02-28',
 '2021-03-01',
 '2021-03-02',
 '2021-03-03',
 '2021-03-04',
 '2021-03-05',
 '2021-03-06',
 '2021-03-07',
 '2021-03-08',
 '2021-03-09',
 '2021-03-10',
 '2021-03-11',
 '2021-03-12',
 '2021-03-13',
 '2021-03-14',
 '2021-03-15',
 '2021-03-16',
 '2021-03-17',
 '2021-03-18',
 '2021-03-19',
 '2021-03-20',
 '2021-03-21',
 '2021-03-22',
 '2021-03-23',
 '2021-03-24',
 '2021-03-25',
 '2021-03-26',
 '2021-03-27',
 '2021-03-28',
 '2021-03-29',
 '2021-03-30',
 '2021-03-31',
 '2021-04-01',
 '2021-04-02',
 '2021-04-03',
 '2021-04-04',
 '2021-04-05',
 '2021-04-06',
 '2021-04-07',
 '2021-04-08',
 '2021-04-09',
 '2021-04-10',
 '2021-04-11',
 '2021-04-12',
 '2021-04-13',
 '2021-04-14',
 '2021-04-15',
 '2021-04-16',
 '2021-04-17',
 '2021-04-18',
 '2021-04-19',
 '2021-04-20',
 '2021-04-21',
 '2021-04-22',
 '2021-04-23',
 '2021-04-24',
 '2021-04-25',
 '2021-04-26',
 '2021-04-27',
 '2021-04-28',
 '2021-04-29',
 '2021-04-30',
 '2021-05-01',
 '2021-05-02',
 '2021-05-03',
 '2021-05-04',
 '2021-05-05',
 '2021-05-06',
 '2021-05-07',
 '2021-05-08',
 '2021-05-09',
 '2021-05-10',
 '2021-05-11',
 '2021-05-12',
 '2021-05-13',
 '2021-05-14',
 '2021-05-15',
 '2021-05-16',
 '2021-05-17',
 '2021-05-18',
 '2021-05-19',
 '2021-05-20',
 '2021-05-21',
 '2021-05-22',
 '2021-05-23',
 '2021-05-24',
 '2021-05-25',
 '2021-05-26',
 '2021-05-27',
 '2021-05-28',
 '2021-05-29',
 '2021-05-30',
 '2021-05-31',
 '2021-06-01',
 '2021-06-02',
 '2021-06-03',
 '2021-06-04',
 '2021-06-05',
 '2021-06-06',
 '2021-06-07',
 '2021-06-08',
 '2021-06-09',
 '2021-06-10',
 '2021-06-11',
 '2021-06-12',
 '2021-06-13',
 '2021-06-14',
 '2021-06-15',
 '2021-06-16',
 '2021-06-17',
 '2021-06-18',
 '2021-06-19',
 '2021-06-20',
 '2021-06-21',
 '2021-06-22',
 '2021-06-23',
 '2021-06-24',
 '2021-06-25',
 '2021-06-26',
 '2021-06-27',
 '2021-06-28',
 '2021-06-29',
 '2021-06-30',
 '2021-07-01',
 '2021-07-02',
 '2021-07-03',
 '2021-07-04',
 '2021-07-05',
 '2021-07-06',
 '2021-07-07',
 '2021-07-08',
 '2021-07-09',
 '2021-07-10',
 '2021-07-11',
 '2021-07-12',
 '2021-07-13',
 '2021-07-14',
 '2021-07-15',
 '2021-07-16',
 '2021-07-17',
 '2021-07-18',
 '2021-07-19',
 '2021-07-20',
 '2021-07-21',
 '2021-07-22',
 '2021-07-23',
 '2021-07-24',
 '2021-07-25',
 '2021-07-26',
 '2021-07-27',
 '2021-07-28',
 '2021-07-29',
 '2021-07-30',
 '2021-07-31',
 '2021-08-01',
 '2021-08-02',
 '2021-08-03',
 '2021-08-04',
 '2021-08-05',
 '2021-08-06',
 '2021-08-07',
 '2021-08-08',
 '2021-08-09',
 '2021-08-10',
 '2021-08-11',
 '2021-08-12',
 '2021-08-13',
 '2021-08-14',
 '2021-08-15',
 '2021-08-16',
 '2021-08-17',
 '2021-08-18',
 '2021-08-19',
 '2021-08-20',
 '2021-08-21',
 '2021-08-22',
 '2021-08-23',
 '2021-08-24',
 '2021-08-25',
 '2021-08-26',
 '2021-08-27',
 '2021-08-28',
 '2021-08-29',
 '2021-08-30',
 '2021-08-31',
 '2021-09-01',
 '2021-09-02',
 '2021-09-03',
 '2021-09-04',
 '2021-09-05',
 '2021-09-06',
 '2021-09-07',
 '2021-09-08',
 '2021-09-09',
 '2021-09-10',
 '2021-09-11',
 '2021-09-12',
 '2021-09-13',
 '2021-09-14',
 '2021-09-15',
 '2021-09-16',
 '2021-09-17',
 '2021-09-18',
 '2021-09-19',
 '2021-09-20',
 '2021-09-21',
 '2021-09-22',
 '2021-09-23',
 '2021-09-24',
 '2021-09-25',
 '2021-09-26',
 '2021-09-27',
 '2021-09-28',
 '2021-09-29',
 '2021-09-30']

# Работа с датафреймами

In [26]:
N = 300

datetimes = pd.Series(pd.date_range(start='2021-07-01',end='2021-09-30', freq='S'))
dates = datetimes.dt.date.unique().tolist()
times = datetimes.dt.time.unique().tolist()

groups_list = ['A', 'B', 'C']
subgroup_list = ['a', 'b', 'c' , 'd']

value_min = 1
value_max = 100

df = pd.DataFrame({
    'date': [np.random.choice(dates, 1, replace=True)[0] for i in range(N)],
    'time': [np.random.choice(times, 1, replace=True)[0] for i in range(N)],
    'group': [np.random.choice(groups_list, 1, replace=True)[0] for i in range(N)],
    'sub_group': [np.random.choice(subgroup_list, 1, replace=True)[0] for i in range(N)],
    'value': [np.random.choice(range(value_min, value_max+1), 1)[0] for i in range(N)]
}).sort_values(['date', 'time'])

df

           date      time group sub_group  value
89   2021-07-01  03:04:50     C         d     51
255  2021-07-01  08:25:41     A         a     98
99   2021-07-01  10:31:06     B         a     47
84   2021-07-01  15:58:15     B         d     50
164  2021-07-01  23:45:31     B         d     49
..          ...       ...   ...       ...    ...
22   2021-09-29  02:08:36     C         b     80
174  2021-09-29  15:37:52     C         d     16
181  2021-09-30  11:18:03     A         c     94
123  2021-09-30  14:59:38     A         c     61
165  2021-09-30  17:59:35     A         a     28

[300 rows x 5 columns]

In [27]:
# df = pd.DataFrame([['A', '16-10-2021', '23:56:10', 'a'], 
#                    ['A', '16-10-2021', '23:58:30', 'b'], 
                   
#                    ['B', '17-10-2021', '00:03:05', 'c'], 
#                    ['B', '17-10-2021', '00:10:07', 'd'], 
#                    ['B', '17-10-2021', '17:36:10', 'e'], 
#                    ['B', '17-10-2021', '19:48:30', 'f'], 
                   
#                    ['C', '18-10-2021', '00:06:05', 'g'], 
#                    ['C', '18-10-2021', '03:08:03', 'h']],
#                   columns=['group', 'str_date', 'str_time','val'])
# df

## К объектам datetime в колонках можно обращатся напрямую (без apply) с помощью конструкции .dt + .[метод]

In [28]:
df['datetime_str'] = df.apply(lambda row: f'{row.date} {row.time}', axis=1)

In [40]:
# df['datetime'] = df.datetime_str.apply(lambda x:  dt.datetime.strptime(x, '%d-%m-%Y %H:%M:%S'))
df['datetime'] = pd.to_datetime(df['datetime_str'])

df['date'] = df.datetime.dt.date
df['time'] = df.datetime.dt.time
df['year'] = df.datetime.dt.year
df['month'] = df.datetime.dt.month
df['hour'] = df.datetime.dt.hour # Час



weekday_rus = {
    'Monday': 'Понедельник',
    'Tuesday': 'Вторник', 
    'Wednesday': 'Среда', 
    'Thursday': 'Четверг', 
    'Friday': 'Пятница', 
    'Saturday': 'Суббота', 
    'Sunday': 'Воскресенье'
}
df['week'] = df.datetime.dt.week # Получить номер недели
df['weekday_number'] = df.datetime.dt.weekday

# df['weekday_name'] = df.datetime.dt.strftime('%A') 
df['weekday_name'] = df.datetime.dt.day_name() # Получить день недели (на английском)
df['weekday_rusname'] = df.weekday_name.apply(lambda x: weekday_rus[x])

df

/DataScience/safonkin/PycharmProjects/venv/lib/python3.7/site-packages/ipykernel_launcher.py:21: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

,date,time,group,sub_group,value,datetime_str,datetime,month,hour,week,weekday_number,weekday_name,weekday_rusname,seconds_diff,group_seconds_diff,year
89,2021-07-01,03:04:50,C,d,51,2021-07-01 03:04:50,2021-07-01 03:04:50,7,3,26,3,Thursday,Четверг,0,0,2021
255,2021-07-01,08:25:41,A,a,98,2021-07-01 08:25:41,2021-07-01 08:25:41,7,8,26,3,Thursday,Четверг,19251,0,2021
99,2021-07-01,10:31:06,B,a,47,2021-07-01 10:31:06,2021-07-01 10:31:06,7,10,26,3,Thursday,Четверг,7525,0,2021
84,2021-07-01,15:58:15,B,d,50,2021-07-01 15:58:15,2021-07-01 15:58:15,7,15,26,3,Thursday,Четверг,19629,19629,2021
164,2021-07-01,23:45:31,B,d,49,2021-07-01 23:45:31,2021-07-01 23:45:31,7,23,26,3,Thursday,Четверг,28036,28036,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,2021-09-29,02:08:36,C,b,80,2021-09-29 02:08:36,2021-09-29 02:08:36,9,2,39,2,Wednesday,Среда,18351,171307,2021
174,2021-09-29,15:37:52,C,d,16,2021-09-29 15:37:52,2021-09-29 15:37:52,9,15,39,2,Wednesday,Среда,48556,48556,2021
181,2021-09-30,11:18:03,A,c,94,2021-09-30 11:18:03,2021-09-30 11:18:03,9,11,39,3,Thursday,Четверг,70811,137718,2021
123,2021-09-30,14:59:38,A,c,61,2021-09-30 14:59:38,2021-09-30 14:59:38,9,14,39,3,Thursday,Четверг,13295,13295,2021
165,2021-09-30,17:59:35,A,a,28,2021-09-30 17:59:35,2021-09-30 17:59:35,9,17,39,3,Thursday,Четверг,10797,10797,2021

## Как посчитать количество секунд между строками в таблице?

In [30]:
df['seconds_diff'] = (
    
        df['datetime']
                .diff() # считаем разность между значениями - получаем объект типа timedelta
                .dt.total_seconds() # применяем метод total_seconds(), чтобы получить количество секунд
                .fillna(0) # первое значение NaN - заменяем его нулем
                .astype(int) # меняем тип всех значений с float на int
)

df.head()

,date,time,group,sub_group,value,datetime_str,datetime,month,hour,week,weekday_number,weekday_name,weekday_rusname,seconds_diff
89,2021-07-01,03:04:50,C,d,51,2021-07-01 03:04:50,2021-07-01 03:04:50,7,3,26,3,Thursday,Четверг,0
255,2021-07-01,08:25:41,A,a,98,2021-07-01 08:25:41,2021-07-01 08:25:41,7,8,26,3,Thursday,Четверг,19251
99,2021-07-01,10:31:06,B,a,47,2021-07-01 10:31:06,2021-07-01 10:31:06,7,10,26,3,Thursday,Четверг,7525
84,2021-07-01,15:58:15,B,d,50,2021-07-01 15:58:15,2021-07-01 15:58:15,7,15,26,3,Thursday,Четверг,19629
164,2021-07-01,23:45:31,B,d,49,2021-07-01 23:45:31,2021-07-01 23:45:31,7,23,26,3,Thursday,Четверг,28036

## Эту операцию можне провести отдельно для каждой группы

In [31]:
df['group_seconds_diff'] = (
    
            df.groupby('group', as_index = False)['datetime']
                .diff() # в данном случае возвращается dataframe
                .datetime.dt.total_seconds() # нужно снова взять колоноку 'datetime'
                .fillna(0)
                .astype(int)
)

df.head()

,date,time,group,sub_group,value,datetime_str,datetime,month,hour,week,weekday_number,weekday_name,weekday_rusname,seconds_diff,group_seconds_diff
89,2021-07-01,03:04:50,C,d,51,2021-07-01 03:04:50,2021-07-01 03:04:50,7,3,26,3,Thursday,Четверг,0,0
255,2021-07-01,08:25:41,A,a,98,2021-07-01 08:25:41,2021-07-01 08:25:41,7,8,26,3,Thursday,Четверг,19251,0
99,2021-07-01,10:31:06,B,a,47,2021-07-01 10:31:06,2021-07-01 10:31:06,7,10,26,3,Thursday,Четверг,7525,0
84,2021-07-01,15:58:15,B,d,50,2021-07-01 15:58:15,2021-07-01 15:58:15,7,15,26,3,Thursday,Четверг,19629,19629
164,2021-07-01,23:45:31,B,d,49,2021-07-01 23:45:31,2021-07-01 23:45:31,7,23,26,3,Thursday,Четверг,28036,28036

## Как посчитать записи по заданному временному периоду?

In [32]:
periods_df = df.set_index('datetime')
periods_df = periods_df.resample('60min').sum() # .count(), .first()
periods_df

,value,month,hour,week,weekday_number,seconds_diff,group_seconds_diff
datetime,,,,,,,
2021-07-01 03:00:00,51,7,3,26,3,0,0
2021-07-01 04:00:00,0,0,0,0,0,0,0
2021-07-01 05:00:00,0,0,0,0,0,0,0
2021-07-01 06:00:00,0,0,0,0,0,0,0
2021-07-01 07:00:00,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...
2021-09-30 13:00:00,0,0,0,0,0,0,0
2021-09-30 14:00:00,61,9,14,39,3,13295,13295
2021-09-30 15:00:00,0,0,0,0,0,0,0
2021-09-30 16:00:00,0,0,0,0,0,0,0
2021-09-30 17:00:00,28,9,17,39,3,10797,10797

## Как сгруппировать данные одновременно по месячному периоду и категориям?

### Добавить признак с указанием месячного периода записи (формат 'первый день месяца - последний день месяца' )

In [46]:
from calendar import monthrange
df['month_period'] = df.apply(lambda row: f'{dt.date(row.year, row.month, 1)} - {dt.date(row.year, row.month, monthrange(row.year, row.month)[-1])}', axis=1)
df['month_period'].unique()

array(['2021-07-01 - 2021-07-31', '2021-08-01 - 2021-08-31',
       '2021-09-01 - 2021-09-30'], dtype=object)

### Сгруппировать по признакам и категориям

In [49]:
df.groupby(['month_period', 'group', 'sub_group'], as_index=False)['value'].sum()

               month_period group sub_group  value
0   2021-07-01 - 2021-07-31     A         a    347
1   2021-07-01 - 2021-07-31     A         b    452
2   2021-07-01 - 2021-07-31     A         c    718
3   2021-07-01 - 2021-07-31     A         d    336
4   2021-07-01 - 2021-07-31     B         a    462
5   2021-07-01 - 2021-07-31     B         b    598
6   2021-07-01 - 2021-07-31     B         c    641
7   2021-07-01 - 2021-07-31     B         d    444
8   2021-07-01 - 2021-07-31     C         a    515
9   2021-07-01 - 2021-07-31     C         b    538
10  2021-07-01 - 2021-07-31     C         c    677
11  2021-07-01 - 2021-07-31     C         d    404
12  2021-08-01 - 2021-08-31     A         a    257
13  2021-08-01 - 2021-08-31     A         b    124
14  2021-08-01 - 2021-08-31     A         c    286
15  2021-08-01 - 2021-08-31     A         d    307
16  2021-08-01 - 2021-08-31     B         a    734
17  2021-08-01 - 2021-08-31     B         b    357
18  2021-08-01 - 2021-08-31     B         c    454
19  2021-08-01 - 2021-08-31     B         d    199
20  2021-08-01 - 2021-08-31     C         a    672
21  2021-08-01 - 2021-08-31     C         b    433
22  2021-08-01 - 2021-08-31     C         c    269
23  2021-08-01 - 2021-08-31     C         d    290
24  2021-09-01 - 2021-09-30     A         a    238
25  2021-09-01 - 2021-09-30     A         b    289
26  2021-09-01 - 2021-09-30     A         c    760
27  2021-09-01 - 2021-09-30     A         d    517
28  2021-09-01 - 2021-09-30     B         a    860
29  2021-09-01 - 2021-09-30     B         b    191
30  2021-09-01 - 2021-09-30     B         c    108
31  2021-09-01 - 2021-09-30     B         d    240
32  2021-09-01 - 2021-09-30     C         a    311
33  2021-09-01 - 2021-09-30     C         b    129
34  2021-09-01 - 2021-09-30     C         c    548
35  2021-09-01 - 2021-09-30     C         d    445

## Как посчитать средние недельные значения за месячный период

In [47]:
pivot_table = (
    df # Переформатируем таблицу, чтобы даты и дни недели стали индексами, bic банков колонками. А на их пересечении - сумма диалогов за день
        .pivot_table(
            index=['date','weekday_rusname'], 
            columns=['group','sub_group'], 
            values='value', 
            aggfunc='nunique') 
        .fillna(0)
)

# Будет лучше отсоритровать колонки в порядке убывания суммарных значений
pivot_table = pivot_table.append(pivot_table.sum(numeric_only=True).rename(('',"Сумма по строкам"))) # Добавим суммирующую строку
pivot_table = pivot_table.sort_values(('',"Сумма по строкам"), axis=1, ascending=False) # Отсортируем колонку по суммирующей строке
pivot_table = pivot_table.iloc[:-1] # Удалим суммирующую строку, чтобы при наложении heatmap-а она не перетягивала цвет на себя
pivot_table

group                         A    B         A    B    C    A    B    C    A  \
sub_group                     d    d    b    b    c    c    a    a    a    c
date       weekday_rusname
2021-07-01 Четверг          1.0  2.0  0.0  0.0  1.0  3.0  0.0  0.0  0.0  0.0
2021-07-02 Пятница          4.0  1.0  0.0  0.0  1.0  2.0  2.0  2.0  2.0  1.0
2021-07-03 Суббота          3.0  1.0  2.0  2.0  0.0  0.0  0.0  1.0  0.0  0.0
2021-07-04 Воскресенье      1.0  0.0  1.0  3.0  0.0  3.0  1.0  0.0  0.0  1.0
2021-07-05 Понедельник      1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
2021-07-06 Вторник          1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0
2021-07-07 Среда            2.0  0.0  1.0  3.0  0.0  0.0  0.0  2.0  3.0  0.0
2021-07-08 Четверг          2.0  0.0  2.0  2.0  2.0  1.0  2.0  1.0  1.0  1.0
2021-07-09 Пятница          0.0  2.0  0.0  0.0  0.0  0.0  1.0  2.0  0.0  0.0
2021-07-10 Суббота          0.0  2.0  1.0  1.0  3.0  0.0  2.0  0.0  0.0  0.0
2021-07-11 Воскресенье      1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
2021-07-12 Понедельник      2.0  1.0  0.0  0.0  0.0  0.0  1.0  2.0  1.0  0.0
2021-07-13 Вторник          1.0  1.0  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
2021-07-14 Среда            2.0  1.0  2.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
2021-07-15 Четверг          1.0  3.0  0.0  1.0  0.0  2.0  3.0  2.0  0.0  0.0
2021-07-16 Пятница          0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0
2021-07-17 Суббота          2.0  0.0  1.0  1.0  2.0  0.0  2.0  1.0  1.0  4.0
2021-07-18 Воскресенье      0.0  0.0  1.0  0.0  1.0  1.0  0.0  0.0  1.0  1.0
2021-07-19 Понедельник      0.0  0.0  0.0  2.0  0.0  0.0  1.0  1.0  1.0  0.0
2021-07-20 Вторник          2.0  2.0  1.0  2.0  1.0  0.0  1.0  1.0  0.0  2.0
2021-07-21 Среда            1.0  2.0  1.0  1.0  2.0  2.0  0.0  2.0  1.0  0.0
2021-07-22 Четверг          2.0  1.0  2.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0
2021-07-23 Пятница          3.0  1.0  1.0  0.0  1.0  2.0  0.0  1.0  0.0  2.0
2021-07-24 Суббота          1.0  1.0  2.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
2021-07-25 Воскресенье      1.0  2.0  2.0  0.0  1.0  1.0  0.0  0.0  1.0  0.0
2021-07-26 Понедельник      0.0  2.0  3.0  1.0  1.0  2.0  2.0  0.0  1.0  1.0
2021-07-27 Вторник          1.0  1.0  1.0  2.0  2.0  0.0  1.0  0.0  0.0  0.0
2021-07-28 Среда            2.0  2.0  3.0  0.0  0.0  2.0  0.0  2.0  0.0  0.0
2021-07-29 Четверг          0.0  4.0  1.0  2.0  2.0  2.0  1.0  0.0  2.0  1.0
2021-07-30 Пятница          0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  2.0  3.0

group                         C
sub_group                     d    b
date       weekday_rusname
2021-07-01 Четверг          1.0  0.0
2021-07-02 Пятница          0.0  0.0
2021-07-03 Суббота          0.0  2.0
2021-07-04 Воскресенье      1.0  0.0
2021-07-05 Понедельник      0.0  0.0
2021-07-06 Вторник          0.0  0.0
2021-07-07 Среда            3.0  1.0
2021-07-08 Четверг          0.0  0.0
2021-07-09 Пятница          0.0  1.0
2021-07-10 Суббота          0.0  0.0
2021-07-11 Воскресенье      3.0  0.0
2021-07-12 Понедельник      0.0  0.0
2021-07-13 Вторник          0.0  2.0
2021-07-14 Среда            0.0  1.0
2021-07-15 Четверг          0.0  0.0
2021-07-16 Пятница          0.0  0.0
2021-07-17 Суббота          1.0  1.0
2021-07-18 Воскресенье      0.0  1.0
2021-07-19 Понедельник      2.0  0.0
2021-07-20 Вторник          0.0  0.0
2021-07-21 Среда            0.0  2.0
2021-07-22 Четверг          3.0  1.0
2021-07-23 Пятница          1.0  2.0
2021-07-24 Суббота          0.0  0.0
2021-07-25 Воскресенье      0.0  1.0
2021-07-26 Понедельник      0.0  0.0
2021-07-27 Вторник          0.0  0.0
2021-07-28 Среда            0.0  1.0
2021-07-29 Четверг          1.0  0.0
2021-07-30 Пятница          1.0  0.0

In [58]:
# Если считать по кажому дню таблица получится слишком длинной. 
# Вместо этого можно посчитать средние значения по каждому дню и вывести обобщающую недельную сводку
dates = sorted(set([ind[0] for ind in pivot_table.index])) # Выделим даты из индекса
weeknames = ['Понедельник',  'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье']

pivot_table_concat = pd.concat([pivot_table.loc[date] for date in dates]) # Поставим дни рядышком
pivot_table_mean = np.round(pivot_table_concat.groupby(pivot_table_concat.index).mean(), 2) # Посчитаем среднее по каждому дню недели
pivot_table_mean = pivot_table_mean.reindex(weeknames) # Поправим последовательность дней недели
pivot_table_mean

group               A     B           A     B     C     A     B     C     A  \
sub_group           d     d     b     b     c     c     a     a     a     c
weekday_rusname
Понедельник      0.75  0.75  0.75  0.75  0.25  0.50  1.00  0.75  1.00  0.25
Вторник          1.25  1.25  0.75  1.50  1.25  0.25  0.75  0.25  0.25  0.50
Среда            1.75  1.25  1.75  1.00  0.50  1.00  0.00  1.75  1.25  0.00
Четверг          1.20  2.00  1.00  1.20  1.20  1.80  1.20  0.60  0.60  0.60
Пятница          1.40  1.20  0.20  0.00  0.80  0.80  0.80  1.00  0.80  1.20
Суббота          1.50  1.00  1.50  1.25  1.50  0.25  1.25  0.50  0.25  1.00
Воскресенье      0.75  0.50  1.00  1.00  0.50  1.25  0.25  0.00  0.75  0.50

group               C
sub_group           d     b
weekday_rusname
Понедельник      0.50  0.00
Вторник          0.00  0.50
Среда            0.75  1.25
Четверг          1.00  0.20
Пятница          0.40  0.60
Суббота          0.25  0.75
Воскресенье      1.00  0.50

In [60]:
df = pivot_table_mean

df_styled = (
            df.style
                    .background_gradient(cmap='Greys', 
#                                          axis=1
                    ) # Добавим цветовой градиент, для простоты восприятия
                    .format({col: "{}" for col in df.columns}) # Настроим формат отображения, чтобы к числам не добавлялись лишние нули
                    
)

df_styled