In [3]:
import pandas as pd
import numpy as np

import datetime as dt

### Анонс

In [4]:
# import holidays - вернуть

# Работа с объектами

## Как генерить объекты типа datetime

### Объект date

In [4]:
year = 2021
month = 10
day = 10

date = dt.date(year, month, day)
date

datetime.date(2021, 10, 10)

### Объект time

In [5]:
hours = 17
minutes = 45
seconds = 13

time = dt.time(hours, minutes, seconds)
time

datetime.time(17, 45, 13)

### Объект datetime

In [6]:
date_time = dt.datetime.combine(date, time)
date_time

datetime.datetime(2021, 10, 10, 17, 45, 13)

### Или так

In [7]:
dt.datetime(2021, 10, 17, 0, 3, 5)

datetime.datetime(2021, 10, 17, 0, 3, 5)

## str - datetime, datetime - str

### Варианты форматов

In [2]:
"""

'13/9/2021 19:45:13'
"%d/%m/%Y %H:%M:%S"
2021-09-13 19:45:13

'2021-W34-1'
"%Y-W%W-%w"
2021-08-23 00:00:00




"""

'\n\n\'13/9/2021 19:45:13\'\n"%d/%m/%Y %H:%M:%S"\n2021-09-13 19:45:13\n\n\'2021-W34-1\'\n"%Y-W%W-%w"\n2021-08-23 00:00:00\n\n\n\n\n'

### Дата и время

In [9]:
month = 9
day = 13
year = 2021

hour = 19
minute = 33
second = 12

datetime_str = f"{day}/{month}/{year} {hour}:{minutes}:{seconds}"

datetime = dt.datetime.strptime(datetime_str, "%d/%m/%Y %H:%M:%S")
print(f"""
datetime_str: {datetime_str}
datetime: {datetime}
""")

datetime_str: 13/9/2021 19:45:13
datetime: 2021-09-13 19:45:13

### Только дата, в странном формате

In [10]:
number = 34
day = 1 # 1 - monday, 0 - saturday

datetime_str = f"2021-W{number}-{day}"
datetime = dt.datetime.strptime(datetime_str, "%Y-W%W-%w")
print(f"""
datetime_str: {datetime_str}
datetime: {datetime}
""")

datetime_str: 2021-W34-1
datetime: 2021-08-23 00:00:00

### Только время

## datetime - timestamp, timestamp - datetime

In [11]:
datetime = dt.datetime(2021, 10, 17, 0, 3, 5)
print(datetime)

2021-10-17 00:03:05

In [12]:
timestamp = datetime.timestamp()
print(timestamp)

1634403785.0

In [13]:
fromtimestamp = dt.datetime.fromtimestamp(timestamp)
print(fromtimestamp)

2021-10-17 00:03:05

In [14]:
utcfromtimestamp = dt.datetime.utcfromtimestamp(timestamp)
print(utcfromtimestamp)

2021-10-16 17:03:05

# Полезные конструкции

### Получить список дат

In [13]:
start = '01-09-2021'
end = '30-09-2021'

[str(timestamp.date()) for timestamp in pd.date_range(start=start, end=end)]

['2021-01-09',
 '2021-01-10',
 '2021-01-11',
 '2021-01-12',
 '2021-01-13',
 '2021-01-14',
 '2021-01-15',
 '2021-01-16',
 '2021-01-17',
 '2021-01-18',
 '2021-01-19',
 '2021-01-20',
 '2021-01-21',
 '2021-01-22',
 '2021-01-23',
 '2021-01-24',
 '2021-01-25',
 '2021-01-26',
 '2021-01-27',
 '2021-01-28',
 '2021-01-29',
 '2021-01-30',
 '2021-01-31',
 '2021-02-01',
 '2021-02-02',
 '2021-02-03',
 '2021-02-04',
 '2021-02-05',
 '2021-02-06',
 '2021-02-07',
 '2021-02-08',
 '2021-02-09',
 '2021-02-10',
 '2021-02-11',
 '2021-02-12',
 '2021-02-13',
 '2021-02-14',
 '2021-02-15',
 '2021-02-16',
 '2021-02-17',
 '2021-02-18',
 '2021-02-19',
 '2021-02-20',
 '2021-02-21',
 '2021-02-22',
 '2021-02-23',
 '2021-02-24',
 '2021-02-25',
 '2021-02-26',
 '2021-02-27',
 '2021-02-28',
 '2021-03-01',
 '2021-03-02',
 '2021-03-03',
 '2021-03-04',
 '2021-03-05',
 '2021-03-06',
 '2021-03-07',
 '2021-03-08',
 '2021-03-09',
 '2021-03-10',
 '2021-03-11',
 '2021-03-12',
 '2021-03-13',
 '2021-03-14',
 '2021-03-15',
 '2021-03-16',
 '2021-03-17',
 '2021-03-18',
 '2021-03-19',
 '2021-03-20',
 '2021-03-21',
 '2021-03-22',
 '2021-03-23',
 '2021-03-24',
 '2021-03-25',
 '2021-03-26',
 '2021-03-27',
 '2021-03-28',
 '2021-03-29',
 '2021-03-30',
 '2021-03-31',
 '2021-04-01',
 '2021-04-02',
 '2021-04-03',
 '2021-04-04',
 '2021-04-05',
 '2021-04-06',
 '2021-04-07',
 '2021-04-08',
 '2021-04-09',
 '2021-04-10',
 '2021-04-11',
 '2021-04-12',
 '2021-04-13',
 '2021-04-14',
 '2021-04-15',
 '2021-04-16',
 '2021-04-17',
 '2021-04-18',
 '2021-04-19',
 '2021-04-20',
 '2021-04-21',
 '2021-04-22',
 '2021-04-23',
 '2021-04-24',
 '2021-04-25',
 '2021-04-26',
 '2021-04-27',
 '2021-04-28',
 '2021-04-29',
 '2021-04-30',
 '2021-05-01',
 '2021-05-02',
 '2021-05-03',
 '2021-05-04',
 '2021-05-05',
 '2021-05-06',
 '2021-05-07',
 '2021-05-08',
 '2021-05-09',
 '2021-05-10',
 '2021-05-11',
 '2021-05-12',
 '2021-05-13',
 '2021-05-14',
 '2021-05-15',
 '2021-05-16',
 '2021-05-17',
 '2021-05-18',
 '2021-05-19',
 '2021-05-20',
 '2021-05-21',
 '2021-05-22',
 '2021-05-23',
 '2021-05-24',
 '2021-05-25',
 '2021-05-26',
 '2021-05-27',
 '2021-05-28',
 '2021-05-29',
 '2021-05-30',
 '2021-05-31',
 '2021-06-01',
 '2021-06-02',
 '2021-06-03',
 '2021-06-04',
 '2021-06-05',
 '2021-06-06',
 '2021-06-07',
 '2021-06-08',
 '2021-06-09',
 '2021-06-10',
 '2021-06-11',
 '2021-06-12',
 '2021-06-13',
 '2021-06-14',
 '2021-06-15',
 '2021-06-16',
 '2021-06-17',
 '2021-06-18',
 '2021-06-19',
 '2021-06-20',
 '2021-06-21',
 '2021-06-22',
 '2021-06-23',
 '2021-06-24',
 '2021-06-25',
 '2021-06-26',
 '2021-06-27',
 '2021-06-28',
 '2021-06-29',
 '2021-06-30',
 '2021-07-01',
 '2021-07-02',
 '2021-07-03',
 '2021-07-04',
 '2021-07-05',
 '2021-07-06',
 '2021-07-07',
 '2021-07-08',
 '2021-07-09',
 '2021-07-10',
 '2021-07-11',
 '2021-07-12',
 '2021-07-13',
 '2021-07-14',
 '2021-07-15',
 '2021-07-16',
 '2021-07-17',
 '2021-07-18',
 '2021-07-19',
 '2021-07-20',
 '2021-07-21',
 '2021-07-22',
 '2021-07-23',
 '2021-07-24',
 '2021-07-25',
 '2021-07-26',
 '2021-07-27',
 '2021-07-28',
 '2021-07-29',
 '2021-07-30',
 '2021-07-31',
 '2021-08-01',
 '2021-08-02',
 '2021-08-03',
 '2021-08-04',
 '2021-08-05',
 '2021-08-06',
 '2021-08-07',
 '2021-08-08',
 '2021-08-09',
 '2021-08-10',
 '2021-08-11',
 '2021-08-12',
 '2021-08-13',
 '2021-08-14',
 '2021-08-15',
 '2021-08-16',
 '2021-08-17',
 '2021-08-18',
 '2021-08-19',
 '2021-08-20',
 '2021-08-21',
 '2021-08-22',
 '2021-08-23',
 '2021-08-24',
 '2021-08-25',
 '2021-08-26',
 '2021-08-27',
 '2021-08-28',
 '2021-08-29',
 '2021-08-30',
 '2021-08-31',
 '2021-09-01',
 '2021-09-02',
 '2021-09-03',
 '2021-09-04',
 '2021-09-05',
 '2021-09-06',
 '2021-09-07',
 '2021-09-08',
 '2021-09-09',
 '2021-09-10',
 '2021-09-11',
 '2021-09-12',
 '2021-09-13',
 '2021-09-14',
 '2021-09-15',
 '2021-09-16',
 '2021-09-17',
 '2021-09-18',
 '2021-09-19',
 '2021-09-20',
 '2021-09-21',
 '2021-09-22',
 '2021-09-23',
 '2021-09-24',
 '2021-09-25',
 '2021-09-26',
 '2021-09-27',
 '2021-09-28',
 '2021-09-29',
 '2021-09-30']

# Работа с датафреймами

In [15]:
df = pd.DataFrame([['A', '16-10-2021', '23:56:10', 'a'], 
                   ['A', '16-10-2021', '23:58:30', 'b'], 
                   
                   ['B', '17-10-2021', '00:03:05', 'c'], 
                   ['B', '17-10-2021', '00:10:07', 'd'], 
                   ['B', '17-10-2021', '17:36:10', 'e'], 
                   ['B', '17-10-2021', '19:48:30', 'f'], 
                   
                   ['C', '18-10-2021', '00:06:05', 'g'], 
                   ['C', '18-10-2021', '03:08:03', 'h']],
                  columns=['group', 'str_date', 'str_time','val'])
df

  group    str_date  str_time val
0     A  16-10-2021  23:56:10   a
1     A  16-10-2021  23:58:30   b
2     B  17-10-2021  00:03:05   c
3     B  17-10-2021  00:10:07   d
4     B  17-10-2021  17:36:10   e
5     B  17-10-2021  19:48:30   f
6     C  18-10-2021  00:06:05   g
7     C  18-10-2021  03:08:03   h

## К объектам datetime в колонках можно обращатся напрямую (без apply) с помощью конструкции .dt + .[метод]

In [19]:
df['datetime_str'] = df.apply(lambda row: f'{row.str_date} {row.str_time}', axis=1)

In [21]:
# df['datetime'] = df.datetime_str.apply(lambda x:  dt.datetime.strptime(x, '%d-%m-%Y %H:%M:%S'))
df['datetime'] = pd.to_datetime(df['datetime_str'])

df['date'] = df.datetime.dt.date
df['time'] = df.datetime.dt.time
df['month'] = df.datetime.dt.month



weekday_rus = {
    'Monday': 'Понедельник',
    'Tuesday': 'Вторник', 
    'Wednesday': 'Среда', 
    'Thursday': 'Четверг', 
    'Friday': 'Пятница', 
    'Saturday': 'Суббота', 
    'Sunday': 'Воскресенье'
}
df['week'] = df.datetime.dt.isocalendar().week # Получить номер недели
df['weekday_number'] = df.datetime.dt.weekday
df['weekday_name'] = df.datetime.dt.strftime('%A') # Получить день недели (на английском)
df['weekday_rusname'] = df.weekday_name.apply(lambda x: weekday_rus[x])

df

,group,str_date,str_time,val,datetime_str,datetime,date,time,month,week,weekday_number,weekday_name,weekday_rusname
0,A,16-10-2021,23:56:10,a,16-10-2021 23:56:10,2021-10-16 23:56:10,2021-10-16,23:56:10,10,41,5,Saturday,Суббота
1,A,16-10-2021,23:58:30,b,16-10-2021 23:58:30,2021-10-16 23:58:30,2021-10-16,23:58:30,10,41,5,Saturday,Суббота
2,B,17-10-2021,00:03:05,c,17-10-2021 00:03:05,2021-10-17 00:03:05,2021-10-17,00:03:05,10,41,6,Sunday,Воскресенье
3,B,17-10-2021,00:10:07,d,17-10-2021 00:10:07,2021-10-17 00:10:07,2021-10-17,00:10:07,10,41,6,Sunday,Воскресенье
4,B,17-10-2021,17:36:10,e,17-10-2021 17:36:10,2021-10-17 17:36:10,2021-10-17,17:36:10,10,41,6,Sunday,Воскресенье
5,B,17-10-2021,19:48:30,f,17-10-2021 19:48:30,2021-10-17 19:48:30,2021-10-17,19:48:30,10,41,6,Sunday,Воскресенье
6,C,18-10-2021,00:06:05,g,18-10-2021 00:06:05,2021-10-18 00:06:05,2021-10-18,00:06:05,10,42,0,Monday,Понедельник
7,C,18-10-2021,03:08:03,h,18-10-2021 03:08:03,2021-10-18 03:08:03,2021-10-18,03:08:03,10,42,0,Monday,Понедельник

## Как посчитать количество секунд между строками в таблице?

In [22]:
df['seconds_diff'] = (
    
        df['datetime']
                .diff() # считаем разность между значениями - получаем объект типа timedelta
                .dt.total_seconds() # применяем метод total_seconds(), чтобы получить количество секунд
                .fillna(0) # первое значение NaN - заменяем его нулем
                .astype(int) # меняем тип всех значений с float на int
)

df

,group,str_date,str_time,val,datetime_str,datetime,date,time,month,week,weekday_number,weekday_name,weekday_rusname,seconds_diff
0,A,16-10-2021,23:56:10,a,16-10-2021 23:56:10,2021-10-16 23:56:10,2021-10-16,23:56:10,10,41,5,Saturday,Суббота,0
1,A,16-10-2021,23:58:30,b,16-10-2021 23:58:30,2021-10-16 23:58:30,2021-10-16,23:58:30,10,41,5,Saturday,Суббота,140
2,B,17-10-2021,00:03:05,c,17-10-2021 00:03:05,2021-10-17 00:03:05,2021-10-17,00:03:05,10,41,6,Sunday,Воскресенье,275
3,B,17-10-2021,00:10:07,d,17-10-2021 00:10:07,2021-10-17 00:10:07,2021-10-17,00:10:07,10,41,6,Sunday,Воскресенье,422
4,B,17-10-2021,17:36:10,e,17-10-2021 17:36:10,2021-10-17 17:36:10,2021-10-17,17:36:10,10,41,6,Sunday,Воскресенье,62763
5,B,17-10-2021,19:48:30,f,17-10-2021 19:48:30,2021-10-17 19:48:30,2021-10-17,19:48:30,10,41,6,Sunday,Воскресенье,7940
6,C,18-10-2021,00:06:05,g,18-10-2021 00:06:05,2021-10-18 00:06:05,2021-10-18,00:06:05,10,42,0,Monday,Понедельник,15455
7,C,18-10-2021,03:08:03,h,18-10-2021 03:08:03,2021-10-18 03:08:03,2021-10-18,03:08:03,10,42,0,Monday,Понедельник,10918

## Эту операцию можне провести отдельно для каждой группы

In [23]:
df['group_seconds_diff'] = (
    
            df.groupby('group', as_index = False)['datetime']
                .diff() # в данном случае возвращается dataframe
                .datetime.dt.total_seconds() # нужно снова взять колоноку 'datetime'
                .fillna(0)
                .astype(int)
)

df

,group,str_date,str_time,val,datetime_str,datetime,date,time,month,week,weekday_number,weekday_name,weekday_rusname,seconds_diff,group_seconds_diff
0,A,16-10-2021,23:56:10,a,16-10-2021 23:56:10,2021-10-16 23:56:10,2021-10-16,23:56:10,10,41,5,Saturday,Суббота,0,0
1,A,16-10-2021,23:58:30,b,16-10-2021 23:58:30,2021-10-16 23:58:30,2021-10-16,23:58:30,10,41,5,Saturday,Суббота,140,140
2,B,17-10-2021,00:03:05,c,17-10-2021 00:03:05,2021-10-17 00:03:05,2021-10-17,00:03:05,10,41,6,Sunday,Воскресенье,275,0
3,B,17-10-2021,00:10:07,d,17-10-2021 00:10:07,2021-10-17 00:10:07,2021-10-17,00:10:07,10,41,6,Sunday,Воскресенье,422,422
4,B,17-10-2021,17:36:10,e,17-10-2021 17:36:10,2021-10-17 17:36:10,2021-10-17,17:36:10,10,41,6,Sunday,Воскресенье,62763,62763
5,B,17-10-2021,19:48:30,f,17-10-2021 19:48:30,2021-10-17 19:48:30,2021-10-17,19:48:30,10,41,6,Sunday,Воскресенье,7940,7940
6,C,18-10-2021,00:06:05,g,18-10-2021 00:06:05,2021-10-18 00:06:05,2021-10-18,00:06:05,10,42,0,Monday,Понедельник,15455,0
7,C,18-10-2021,03:08:03,h,18-10-2021 03:08:03,2021-10-18 03:08:03,2021-10-18,03:08:03,10,42,0,Monday,Понедельник,10918,10918

## Как посчитать записи по заданному временному периоду?

In [24]:
periods_df = df.set_index('datetime')
periods_df = periods_df.resample('60min').sum() # .count(), .first()
periods_df

,month,week,weekday_number,seconds_diff,group_seconds_diff
datetime,,,,,
2021-10-16 23:00:00,20,82,10,140,140
2021-10-17 00:00:00,20,82,12,697,422
2021-10-17 01:00:00,0,0,0,0,0
2021-10-17 02:00:00,0,0,0,0,0
2021-10-17 03:00:00,0,0,0,0,0
2021-10-17 04:00:00,0,0,0,0,0
2021-10-17 05:00:00,0,0,0,0,0
2021-10-17 06:00:00,0,0,0,0,0
2021-10-17 07:00:00,0,0,0,0,0
2021-10-17 08:00:00,0,0,0,0,0
2021-10-17 09:00:00,0,0,0,0,0
2021-10-17 10:00:00,0,0,0,0,0
2021-10-17 11:00:00,0,0,0,0,0
2021-10-17 12:00:00,0,0,0,0,0
2021-10-17 13:00:00,0,0,0,0,0
2021-10-17 14:00:00,0,0,0,0,0
2021-10-17 15:00:00,0,0,0,0,0
2021-10-17 16:00:00,0,0,0,0,0
2021-10-17 17:00:00,10,41,6,62763,62763
2021-10-17 18:00:00,0,0,0,0,0
2021-10-17 19:00:00,10,41,6,7940,7940
2021-10-17 20:00:00,0,0,0,0,0
2021-10-17 21:00:00,0,0,0,0,0
2021-10-17 22:00:00,0,0,0,0,0
2021-10-17 23:00:00,0,0,0,0,0
2021-10-18 00:00:00,10,42,0,15455,0
2021-10-18 01:00:00,0,0,0,0,0
2021-10-18 02:00:00,0,0,0,0,0
2021-10-18 03:00:00,10,42,0,10918,10918